.container{
    min-height: 100%;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #000;
}

.nav_top{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 5%;
    
}

.nav_left{
    display: inline;
    padding-left: 1%;
    opacity: 0.75;
}

.nav_right{
    float: right;
    padding-right: 1%;

}

.foot{  
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: #f2f2f2;
    color: #5f6368;
}

.body{
    /*border: solid red;*/
    margin: auto;
    width: 50%;
    height: 100%;
}

.logo{
    /*border: solid;*/
    display: block;
    padding: 5% 0 2% 5% ;
    margin: auto;
    width: 300px;
}

.search{
    display: block;
    margin: 0 auto 20px auto;
    height: 44px;
    width: 582px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
}

#magnifyingGlass{
    display: inline-block;
    margin: 12px 0 0 10px;
}
.searchBox{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    height: 20px;

}
.enter{
    /*border: solid 1px;*/
    display: block;
    padding: 10px 0;
    /*height: 58px;*/
    width: 346px;
    margin: auto;
}

.submitSearch{
    height: 36px;
    width: 125px;
    margin: 0 15px 0  25px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
}

.Lucky{
    height: 36px;
    width: 150px;
    margin: 0 25px 0 0;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
}

.foot_left{
    display: inline;
    padding-left: 1%;
}

.foot_right{
    float: right;
    padding-right: 1%;
}

.google_apps{
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    border: 1px;
}